body {
  background: #eee;

  margin: 0;

  color: #555;
}

.link-list {
  display: flex;
  flex-direction: wrap;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 1em 0;
}

.link-list--item a {
  display: block;
  width: 10em;
  border-radius: 10px;
  background-color: #c4c4c4;
  background: linear-gradient(
    360deg,
    #c4c4c4 -29.86%,
    rgba(196, 196, 196, 0) 100%
  );
  text-align: center;
  padding: 0.5em 0;
}

.takion88 {
  font-family: "Noto Sans JP", sans-serif;

  font-weight: normal;
  font-size: 100px;
  line-height: 209px;

  text-align: center;
}

.top-img {
  width: 256px;
  height: 256px;
  border-radius: 50%;
  text-align: center;
}

.introduction {
  margin-bottom: 100px;
}

.profile {
  text-align: center;

  font-size: 40px;

  margin-bottom: 200px;
}

.Skill-detail {
  text-align: center;

  font-size: 40px;

  margin-bottom: 200px;
}

.Work-detail {
  text-align: center;
  font-size: 40px;
  margin-bottom: 200px;
}

.contact-detail {
  text-align: center;

  font-size: 40px;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contact-list {
  display: flex;
  flex-direction: wrap;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 2em 0;
}

.contact-list--link {
  color: #000;
  text-decoration: none;
  transition: 0.2s opacity;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-list--link:hover {
  opacity: 0.5;
}

.contact-list--icon {
  font-size: 10em;
}

.contact-list--link__twitter > .contact-list--icon {
  color: #1da1f2;
}
